@import"~bootstrap/dist/css/bootstrap.css";
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
    padding: 20px;
}

.form-control.ng-touched.ng-invalid{
    border: 2px solid rgb(255, 99, 99);
}

.mdc-snackbar__surface {
    background-color:rgb(189, 219, 145) !important;
} 

.cdk-global-overlay-wrapper{
    align-items: flex-start !important;
} 

.mat-mdc-snack-bar-label .mdc-snackbar__label{
    color: rgb(24, 24, 24) !important;
}
